/* CSS declarations go here */
#palitra{
	background-color: #66ccff;
}

.navbar{
	background-color:  #d98cb3;
}

.jumbotron{
	background-color: #b84dff;
}

.foot{
	background-color:  #d98cb3;
}

.row-main{
	background-color: #f5ccff;
}
